/* .fade-in-text {
  font-family: Arial;
  font-size: 12pxx;
  animation: fadeIn 8s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }